# Reading JSON File From Given Storage

In [1]:
import pandas as pd

In [2]:
df = pd.read_json("shrikant.json")
df

     sepalLength  sepalWidth  petalLength  petalWidth    species
0            5.1         3.5          1.4         0.2     setosa
1            4.9         3.0          1.4         0.2     setosa
2            4.7         3.2          1.3         0.2     setosa
3            4.6         3.1          1.5         0.2     setosa
4            5.0         3.6          1.4         0.2     setosa
..           ...         ...          ...         ...        ...
145          6.7         3.0          5.2         2.3  virginica
146          6.3         2.5          5.0         1.9  virginica
147          6.5         3.0          5.2         2.0  virginica
148          6.2         3.4          5.4         2.3  virginica
149          5.9         3.0          5.1         1.8  virginica

[150 rows x 5 columns]

# Reading JSON File From Other Storage

In [4]:
import pandas as pd
file = pd.read_json("C:/Users/Lenovo/Videos/season1.json")
file

,Game Of Thrones S01E01 Winter Is Coming.srt,Game Of Thrones S01E02 The Kingsroad.srt,Game Of Thrones S01E03 Lord Snow.srt,"Game Of Thrones S01E04 Cripples, Bastards, And Broken Things.srt",Game Of Thrones S01E05 The Wolf And The Lion.srt,Game Of Thrones S01E06 A Golden Crown.srt,Game Of Thrones S01E07 You Win Or You Die.srt,Game Of Thrones S01E08 The Pointy End.srt,Game Of Thrones S01E09 Baelor.srt,Game Of Thrones S01E10 Fire And Blood.srt
1,"Easy, boy.","You need to drink, child.","Welcome, Lord Stark.",The little lord's been dreaming again.,Does Ser Hugh have any family in the capital?,"Your pardon, Your Grace.","""Summoned to court to answer for the crimes","Yah! Left high, left low.","You've seen better days, my lord.",Look at me. Look at me!
10,Our orders were to track the wildlings.,The Dothraki believe that one day,Sturdy old thing.,- Hodor? - Help Bran down the hall.,But who holds the straws?,He butchered my men.,"Go on, say something clever.",Go back to your room.,I've given up trying to guess.,"It told me to come with him, so I did."
100,- Right. Give it here. - No!,Such a little thing.,That's not true. You killed the beast.,We're done for today. Go clean the armoury.,# In garb of red and gold #,Drop the blade!,Your sister was a corpse and I was a living girl,"- We should burn them. - Snow's not wrong, my ...",- Oh! - You too.,This one here.
101,Put away your blade.,A bird without feathers.,You only spared the girl because of the love y...,That's all you're good for.,This isn't the Kingsroad.,"- No, don't. - Do it.",and he loved her more than me.,Fire will do for them. The wildling way.,You see that?,Look at it and see what happens to traitors.
102,"- I take orders from your father, not you. - P...",They came to take his body away,"I didn't, I...",- Well fought! - Piss off.,- You said we were riding for Winterfell. - I ...,Are you all right?,"When the king returns from his hunt, I'll tell...",I want Maester Aemon to examine them first.,"Fifteen, she is.",- You promised to be merciful. - I was.
...,...,...,...,...,...,...,...,...,...,...
771,NaN,NaN,NaN,NaN,NaN,NaN,I want no bloodshed.,NaN,NaN,NaN
772,NaN,NaN,NaN,NaN,NaN,NaN,Tell your men to lay down their swords.,NaN,NaN,NaN
773,NaN,NaN,NaN,NaN,NaN,NaN,No one needs to die.,NaN,NaN,NaN
774,NaN,NaN,NaN,NaN,NaN,NaN,Now!,NaN,NaN,NaN
775,NaN,NaN,NaN,NaN,NaN,NaN,I did warn you not to trust me.,NaN,NaN,NaN

# Reading File From Mysql(database)

In [5]:
 !pip install pymysql

Collecting pymysql
  Downloading https://files.pythonhosted.org/packages/ed/39/15045ae46f2a123019aa968dfcba0396c161c20f855f11dea6796bcaae95/PyMySQL-0.9.3-py2.py3-none-any.whl (47kB)
Installing collected packages: pymysql
Successfully installed pymysql-0.9.3

In [6]:
import pymysql as mysql

In [7]:
con =mysql.connect(host='localhost',user='root',password='root',database='practice')

In [9]:
pd =pd.read_sql_query('select * from student',con)
pd

   ID     name       address
0   1     shri        parali
1   2    dilip        mondha
2   3   akshay          bank
3   4  shrawan  gandhimarket
4   5   gaurav          beed
5   6     atul          pune

In [13]:
# For storing in CSV
pd.to_csv('database.csv')

In [12]:
# For storing in json format
pd.to_json('data.json')

# Reading Data From Sqlite(Database)

In [15]:
import sqlite3
import pandas as pd
db = sqlite3.connect('C:/Users/Lenovo/sqliteDB/tectonic.db')
df = pd.read_sql_query("select * from studentinfo",db)
df

   id      name gender
0   1  shrikant      m
1   2   kaushal      m
2   3  ashutosh      m
3   4      atul      m